
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="style.css"> 
	<link rel="stylesheet" type="text/css" href="images">
	<link rel="stylesheet" href="./static/style.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Intention Clothing</title>
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="navbar">
		<div class="logo">
			<a href="index.html"><img src="./static/images/2.jpeg" width="198px"></a>
		</div>
		<nav>
			<ul id="MenuItems">
				<li> <a href="index.html">Home</a></li>
				<li> <a href="products.html">Products</a></li>
				<li> <a href="about.html">About</a></li>
				<li> <a href="contact.html">Contact</a></li>
			</ul>
		</nav>
	<a href="cart.html"><img src="images/static/images/2.png" width="30px" height="30px"></a>
    <img src="images/images/menu.png" class="menu-icon" onclick="menutoggle()">
</div>
    <div class="row">
        <div class="col-2">
        <h1>Intention Clothing</h1>
            <p></p>
            <a href="products.html" class="btn">Explore Now &#8594;</a>
        </div>
        <div class="col-2">
            <img src="images/sec1.png">
        </div>
    </div>
        </div>
    </div>
    <!--------- featured products ---------->
    <div class="small-container">
        <h2>Featured Products</h2>
        <div class="row">
            <div class="col-4">
                <a href="product-details.html"><img src="./static/images/red.png"width="198px"></a>
                <h4>Red Hoodie</h4>
                <p>$49.99</p>
                <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
                </div>
                <a href="Link To Product"><button>Buy</button></a>
            </div>
                <div class="col-4">
                <a href="product-details2.html"><img src="./static/images/white.png" width="198px"></a>
                <h4>White Hoodie<a href="product-details2.html" Target="_blank"></a></h4>
                <p>$39.99</p>
                <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                </div>
                <a href="Link to Website for Product"><button>Buy</button></a>
            </div>
                <div class="col-4">
                <img src="./static/images/output-onlinepngtools copy 3.png"width="198px">
                    <h4>Pink<a href="Link to Product" Target="_blank"></a></h4>
                <p>$38.99</p>
                <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                </div>
                <a href="Link to Website for Product"><button>Buy</button></a>
            </div>
                </div>
            <h2 class="title">Latest Products</h2>
        <div class="row">
            <div class="col-4">
                <img src="./static/images/output-onlinepngtools copy 2.png"width="198px">
                <h4>Grey<a href="Link To Product" Target="_blank"></a></h4>
                <p>$40.99</p>
                <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                </div>
                <a href="Link to Website for Product"><button>Buy</button></a>
            </div>
            <div class="col-4">
                <img src="./static/images/8CF8AC61-B7D4-40D1-BB2B-1FD56F0F2ECA.jpeg"width="198px">
                <h4>Black<a href="Link to Product" Target="_blank"></a></h4>
                <p>$56.99</p>
                <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i> 
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                </div>
                <a href="Link to Website for Product"><button>Buy</button></a>
            </div>
            <div class="col-4">
                <img src="./static/images/output-onlinepngtools.png"width="198px">
                <h4>blue<a href="Link to Product" Target="_blank"></a></h4>
                <p>$50.99</p>
                <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                </div>
                <a href="Link to Website for Product"><button>Buy</button></a>
            </div>
                </div>
        <div class="row">
                </div>
                    </div>
    




9:06
<!--------- offer --------->
    <!-------- Testimonials --------->
    <!---------- brands ----------->
    <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <a href="https://www.amazon.com/"Target="_blank"><img src="images/images/amazon_dkblue_noto_email_v2016_us-main._CB468775337_.png"></a>
                </div>
                <div class="col-5">
                <a href="https://mtsconsultinggroup.com/"Target="_blank"><img src="images/images/MTS-CG-Explosion-Logo-Design.png"></a>
                </div>
                <div class="col-5">
                        <a href="https://thedjhookup.com/"Target="_blank"><img src="images/images/thedjhookup.jpeg"></a>
                </div>
            </div>
        </div>
    </div>
<!----------- footer ------------>
        <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                    <img src="images/images/play-store.png">
                    <img src="images/images/app-store.png">
                </div>
                </div>
                <div class="footer-col-2">
                    <img src="images/logo.jpg" width="125px">
                    <p> </p>
                </div>
                <div class="footer-col-3">
            <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                    </ul>
                </div>
                <div class="footer-col-4">
            <h3>Follow Us</h3>
            <ul>
                    <li>Facebook</li>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Instagram</a></li>
                    <li>YouTube</li>
                    </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright  2023 - MT Recording</p>
    </div>
</div>
    <!-----------js for toggle menu------------>
    <script>
    var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle(){
            if (MenuItems.style.maxHeight = "0px") {
            MenuItems.style.maxHeight = "200px";
} else {
MenuItems.style.maxHeight = "0px";
}
}
    </script>
    </body>
<!DOCTYPE html>