<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="style.css"> 
	<link rel="stylesheet" type="text/css" href="images">
	<link rel="stylesheet" href="./static/style.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Intention Clothing</title>
</head>
<body>
<div class="header">
<div class="container">
	<div class="navbar">
		<div class="logo">
			<img src="images/logo.png" width="125px">
		</div>
		<nav>
			<ul id="MenuItems">
				<li> <a href="index.html">Home</a></li>
				<li> <a href="products.html">Products</a></li>
				<li> <a href="about.html">About</a></li>
				<li> <a href="contact.html">Contact</a></li>
			</ul>
		</nav>
	</div>
	<div class="col-2">
		<h1>Products<br>A New Look!</h1>
		<p>Take your wardrobes to new heights with hoodies that inspire, impact and <br>influence. With a wide variety of colors such as black, grey, pink  or purple, <br>Intention Clothing will help u build more confidence in your daily lives and<br> make you exemplify a genuine money man.</p>
		<a href="" class="btn">Explore Now &#8594;</a>
	</div>
	<div class="col-2">
		<img src="images/SecondaryPic.png" height="400px" width="300px">
	</div>
</div>   
</div>
<!-------- featured categories --------->
<div class="categories">
<div class="row">
</div class="col-3">
<img src="static/images/NOW.jpeg">
<h2>money bag style</h2>  
</div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star-o"></i>
</div>
<p>$59.99</p>
</div class="col-3"></div>
</div class="col-3"></div>
</div>
<p>$59.99</p>
</div>
<img src="images/category-1.jpg">
<h2>money bag style</h2>  
</div class="rating">
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star"></i>
<i class="fa fa-star-o"></i>
<i class="fa fa-star-o"></i>
</div>
<p>$50.00</p>
<div>
</div>
<script src='./static/script.js'>
    var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle(){
            if (MenuItems.style.maxHeight = "0px") {
            MenuItems.style.maxHeight = "200px";
            } else {
                MenuItems.style.maxHeight = "0px";
        }
                }
    </script>


</body>
</html>